parameters:
	ignoreErrors:
		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 3
			path: src/View/InertiaJsonView.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 3
			path: src/View/InertiaWebView.php
