parameters:
    bootstrapFiles:
        - config/bootstrap.php
        - vendor/cakephp/cakephp/tests/bootstrap.php
    level: max
    paths:
        - src
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: true
